@media screen {
	body {
		background-color: #F5F5DC;
		margin: 0 2rem;
	}
}

@media print {
	body {
		background-color: #FFF;
	}
}

body {
	color: black;
	font-family: Helvetica, Arial, sans-serif;
	font-weight: 300;
	-webkit-hyphens: auto;
	-moz-hyphens: auto;
	-ms-hyphens: auto;
	hyphens: auto;
}

a {
	color: #000;
	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
	word-break: break-all;
}

a:hover {
	color: #aaa;
}

nav {
	li {
		display: inline-block;
		float: right;
		background-color: #222;
		border-radius: 2px;
		padding: 0.1rem;
		margin: 0 0.6rem;

		a {
			color: #fff;
			text-decoration: none;
			padding: 1rem 0.4rem;
		}
	}

	li:hover {
		background-color: #ccc;

		a {
			color: #000;
		}
	}
	@media print {
		display: none;
	}
}
.side {
	width: 30%;
	float: left;
}

.main {
	width: 60%;
	float: left;
}
