<section class="wrapper" data-view="en" lang="en-GB">
  <section class="info side">
    <h2>Information</h2>
    <dl>
      <dt>Name:</dt>
      <dd>Haroen Viaene</dd>
      <dt>Location:</dt>
      <dd>Bruges, Ghent</dd>
      <dt>Email:</dt>
      <dd><a href="mailto:%22Haroen%20Viaene%22%20%3chello@haroen.me%3e?subject=Job%20Offer">hello@haroen.me</a></dd>
      <dt>Born:</dt>
      <dd>16-Oct-1995</dd>
    </dl>
  </section>
  <div class="main">
    <section class="summation">
      <h2>Experience</h2>
      <dl>
        <dt>open Summer of code</dt>
        <dd>frontend, backend, cli, linked data</dd>
        <dd>summer 2016</dd>
        <dt>Euro Space Center</dt>
        <dd>Animator, guide</dd>
        <dd>2013-2015</dd>
        <dt>Jeugdwerkgroep Ruimtevaart</dt>
        <dd>Animator, PR, board member</dd>
        <dd>2007-…</dd>
      </dl>
    </section>
    <section class="summation">
      <h2>Education</h2>
      <dl>
        <dt>SASK</dt>
        <dd>Secondary education with a strong focus on math and science</dd>
        <dd>2008-2013</dd>
        <dt>KU Leuven</dt>
        <dd>BSc Physics (incomplete)</dd>
        <dd>2013-2014</dd>
        <dt>Odisee</dt>
        <dd>BSc Electronics-informatics (third year)</dd>
        <dd>2014-…</dd>
        <dt>Jeugdwerkgroep Ruimtevaart</dt>
        <dd>Animator in a youth movement</dd>
        <dd>2007-…</dd>
        <dt>Academy of Bruges</dt>
        <dd>Partial education animated arts</dd>
        <dd>2006-2013</dd>
      </dl>
    </section>
    <section class="summation">
      <h2>Knowledge</h2>
      <dl>
        <dt>HTML/SCSS</dt>
        <dd>Good knowledge</dd>
        <dt>JavaScript</dt>
        <dd>Good knowledge</dd>
        <dt>PHP, Swift, Java, C#, bash ...</dt>
        <dd>Basic to higher knowledge</dd>
        <dt>Photoshop, Illustrator, Sketch</dt>
        <dd>Basics</dd>
        <dt>OS X</dt>
        <dd>Poweruser</dd>
        <dt>Linux</dt>
        <dd>Good knowledge</dd>
        <dt>Others</dt>
        <dd>Git, GitHub, npm, CI, LaTeX</dd>
      </dl>
    </section>
    <section class="summation">
      <h2>Languages</h2>
      <dl>
        <dt>Dutch</dt>
        <dd>Mother tongue</dd>
        <dd>C2</dd>
        <dt>English</dt>
        <dd>Fluent in writing and speech</dd>
        <dd>C1</dd>
        <dt>French</dt>
        <dd>Good knowledge, fluent speech</dd>
        <dd>B2</dd>
        <dt>Norwegian, German</dt>
        <dd>Starting knowledge, notions</dd>
      </dl>
    </section>
    <section class="summation">
      <h2>Accomplishments</h2>
      <dl>
        <dt>Apps for Ghent 2016</dt>
        <dd>Best student team with <a href="http://ikhaat.gent">Ik haat Gent</a> (I hate Ghent)</dd>
      </dl>
    </section>
    <section class="summation">
      <h2>Profile</h2>
      <p>
        Student of electronics-informatics who made web his home. He transformed from a user to a creator. He's also a motivated board member of JWR, a youth club about space and <a href="https://bullg.it">bullgit</a> — developers group mixing the serious things with fun.
      </p>
    </section>
  </div>
</section>
