<section class="wrapper" data-view="en" lang="en-GB">
  <section class="info side">
    <h2>Information</h2>
    <ul>
      <li>Haroen Viaene</li>
      <li>Paris, France</li>
      <li><a href="mailto:%22Haroen%20Viaene%22%20%3chello@haroen.me%3e?subject=Job%20Offer">hello@haroen.me</a></li>
      <li>
        <time datetime="1995-10-16">16-Oct-1995</time>
      </li>
      <li>
        <ul>
          <li><a href="https://www.linkedin.com/in/haroen/">LinkedIn</a></li>
          <li><a href="https://www.github.com/haroenv/">GitHub</a></li>
          <li><a href="https://www.twitter.com/haroenv/">Twitter</a></li>
        </ul>
      </li>
    </ul>
    <img src="src/me.png" alt="my head" class="headshot">
  </section>
  <div class="main">
    <section class="summation">
      <h2>Profile</h2>
      <p>
        Working at <a href="https://algolia.com/">Algolia</a>, on various open source libraries that work with the search API to empower users to think less about the hard parts of search, and more about their interfaces. Active in the meetup community by giving talks and supporting the local organisations.
      </p>
    </section>
    <section class="summation">
      <h2>Experience</h2>
      <dl>
        <dt>Algolia</dt>
        <dd>Software Engineer (JS libraries)</dd>
        <dd>May 2017 - present</dd>
        <dt>Algolia</dt>
        <dd>Search on <a href="https://yarnpkg.com">Yarn</a>, empowerment intern (JS libraries)</dd>
        <dd>February - May 2017</dd>
        <dt>open Summer of code</dt>
        <dd>frontend, backend, CLI, linked data</dd>
        <dd>summer 2016</dd>
        <dt>Euro Space Center</dt>
        <dd>Animator, guide (holiday job)</dd>
        <dd>2013-2015</dd>
        <dt lang="nl-BE">Jeugdwerkgroep Ruimtevaart</dt>
        <dd>Animator, PR, board member</dd>
        <dd>2007-2016</dd>
      </dl>
    </section>
    <section class="summation">
      <h2>Education</h2>
      <dl>
        <dt>Odisee</dt>
        <dd>BA Electronics & informatics (with honors)</dd>
        <dd>2014-2017</dd>
        <dt lang="nl-BE">KU Leuven</dt>
        <dd>BSc Physics (incomplete)</dd>
        <dd>2013-2014</dd>
        <dt>SASK</dt>
        <dd>Secondary education (maths and sciences)</dd>
        <dd>2008-2013</dd>
        <dt lang="nl-BE">Jeugdwerkgroep Ruimtevaart</dt>
        <dd>Animator in a youth movement (diploma)</dd>
        <dd>2007-2016</dd>
        <dt>Academy of Bruges</dt>
        <dd>Education in animation (with honors)</dd>
        <dd>2006-2013</dd>
      </dl>
    </section>
    <section class="summation">
      <h2>Knowledge</h2>
      <dl>
        <dt>JavaScript</dt>
        <dd>Professional knowledge</dd>
        <dt>HTML/(S)CSS</dt>
        <dd>Professional knowledge</dd>
        <dt>PHP, Swift, Java, C#, bash ...</dt>
        <dd>Basic to higher knowledge</dd>
        <dt>Photoshop, Illustrator, Sketch</dt>
        <dd>Basics</dd>
        <dt>macOS</dt>
        <dd>Poweruser</dd>
        <dt>Linux</dt>
        <dd>Good knowledge</dd>
        <dt>Others</dt>
        <dd>Git, GitHub, npm, CI, LaTeX, Vue, React, Node</dd>
      </dl>
    </section>
    <section class="summation">
      <h2>Languages</h2>
      <dl>
        <dt>Dutch</dt>
        <dd>Mother tongue, C2</dd>
        <dt>English</dt>
        <dd>Fluent in writing and speech, C2</dd>
        <dt>French</dt>
        <dd>Fluent in writing and speech, C1</dd>
      </dl>
    </section>
  </div>
</section>
