<head>
  <title> Haroen Viaene — cv </title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta name="mobile-web-app-capable" content="yes" />
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
  <meta name="theme-color" content="#f5f5dc">
  <link rel="apple-touch-icon" href="/apple-touch-icon.png" />
  <link rel="icon" href="/apple-touch-icon.png">
  <meta name="description" content="Haroen Viaene is a student electronics-informatics, highly interested in space, the web and allround creative." />
  <meta name="author" content="Haroen Viaene" />
  <link rel="stylesheet" href="src/styles.css" />
  <link rel="icon" type="image/png" href="/favicon.png" />
</head>
