<section class="wrapper" data-view="nl" lang="nl-BE">
  <section class="info side">
    <h2>Informatie</h2>
    <dl>
      <dt>Naam:</dt>
      <dd>Haroen Viaene</dd>
      <dt>Locatie:</dt>
      <dd>Brugge, Gent</dd>
      <dt>e-mail:</dt>
      <dd><a href="mailto:%22Haroen%20Viaene%22%20%3chello@haroen.me%3e?subject=Jobaanbieding">hello@haroen.me</a></dd>
      <dt>Geboren:</dt>
      <dd><time datetime="1995-10-16">16-okt-1995</time></dd>
    </dl>
  </section>
  <div class="main">
    <section class="summation">
      <h2>Profiel</h2>
      <p>
        Student elektronica-ICT die al jaren zich vlot door het internet beweegt. Ontpopte zich van een <em>user</em> naar een <em>creator</em>. Al jaren zeer geïnteresseerd in wetenschap, zet zich in voor de Jeugdwerkgroep Ruimtevaart. Een lid van <a href="https://bullg.it">bullgit</a>, een groep gemotiveerde front- en andere end developers.
      </p>
    </section>
    <section class="summation">
      <h2>Ervaring</h2>
      <dl>
        <dt>open Summer of code</dt>
        <dd>frontend, backend, cli, linked data</dd>
        <dd>zomer 2016</dd>
        <dt>Euro Space Center</dt>
        <dd>Animator, begeleider, gids</dd>
        <dd>2013-2015</dd>
        <dt>Jeugdwerkgroep Ruimtevaart</dt>
        <dd>Jaarwerking, publiekswerking, jeugdkampen</dd>
        <dd>2007-…</dd>
      </dl>
    </section>
    <section class="summation">
      <h2>Onderwijs</h2>
      <dl>
        <dt>Odisee</dt>
        <dd>Bachelor Elektronica-ICT (derde jaar)</dd>
        <dd>2014-2017</dd>
        <dt>KU Leuven</dt>
        <dd>Fysica (geheroriënteerd)</dd>
        <dd>2013-2014</dd>
        <dt>SASK</dt>
        <dd>ASO Wetenschappen-Wiskunde 8u</dd>
        <dd>2008-2013</dd>
        <dt>Jeugdwerkgroep Ruimtevaart</dt>
        <dd>Animator in het jeugdwerk</dd>
        <dd>2007-…</dd>
        <dt>Academie Brugge</dt>
        <dd>DKO animatiefilm</dd>
        <dd>2006-2013</dd>
      </dl>
    </section>
    <section class="summation">
      <h2>Kennis</h2>
      <dl>
        <dt>HTML/SCSS</dt>
        <dd>Goeie kennis</dd>
        <dt>JavaScript</dt>
        <dd>Goeie kennis</dd>
        <dt>PHP, Swift, Java, C#, bash ...</dt>
        <dd>Beginnende en hogere kennis</dd>
        <dt>Photoshop, Illustrator, Sketch</dt>
        <dd>Basiskennis</dd>
        <dt>macOS</dt>
        <dd>Poweruser</dd>
        <dt>Linux</dt>
        <dd>Goeie kennis</dd>
        <dt>Varia</dt>
        <dd>Git, GitHub, npm, CI, LaTeX</dd>
      </dl>
    </section>
    <section class="summation">
      <h2>Talen</h2>
      <dl>
        <dt>Nederlands</dt>
        <dd>Moedertaal</dd>
        <dd>C2</dd>
        <dt>Engels</dt>
        <dd>Hoge kennis, meest gebruikte taal</dd>
        <dd>C1</dd>
        <dt>Frans</dt>
        <dd>Goede kennis, vloeiend spreken</dd>
        <dd>B2</dd>
        <dt>Noors, Duits</dt>
        <dd>Beginnende kennis, noties</dd>
      </dl>
    </section>
    <section class="summation">
      <h2>Verwezenlijkingen</h2>
      <dl>
        <dt>Apps for Ghent 2016</dt>
        <dd>Beste studententeam met <a href="http://ikhaat.gent">Ik haat Gent</a></dd>
      </dl>
    </section>
  </div>
</section>
